In [4]:
import json
import pandas as pd

In [5]:
data = []

with open('../data/processed/batchoutput.jsonl', 'r') as f:
    for line in f:
        line_data = json.loads(line)
        
        movie_id = line_data['movie_id']
        characters_content = json.loads(line_data['content'])
        
        for character in characters_content['characters']:
            data.append({
                'movie_id': movie_id,
                'character_name': character['name'],
                'dies': character['dies']
            })

df = pd.DataFrame(data)
df

     movie_id           character_name   dies
0        4730              Harvey Dent   True
1        4730      The Flying Graysons   True
2        4730                 Two-Face   True
3        4730       Dr. Chase Meridian  False
4        4730                   Batman  False
..        ...                      ...    ...
138  17927503      Maid at Pia's House  False
139  17927503  Airlines Ground Staff 2  False
140   4891218           Father Michael  False
141   4891218                     Anna  False
142   4891218                Catherine  False

[143 rows x 3 columns]

In [6]:
df.value_counts('dies')

dies
False    129
True      14
Name: count, dtype: int64